#menu-wrapper {
    height: 800px;
    width: 1089px;
    background-color:rgb(191, 162, 125);
   
}

header {
    height: 80px;
    font-size: 75px;
    border:1px solid black;
}

section {
    height: 640px;
    font-size: 75px;
    border:1px solid black;
}

footer {
    height: 80px;
    font-size: 75px;
    border:1px solid black;
}